* {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  display: grid;
  grid-template-columns: repeat(7, minmax(min-content, 1fr));
  grid-template-rows: repeat(4, min-content); }

.header {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(7, minmax(min-content, 1fr)); }
  .header-image {
    grid-column: 3 / 6; }
    .header-image-panini {
      width: 100%;
      height: 100%; }

.menu {
  grid-column: 1 / 8;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cc2229;
  border: solid;
  border-color: black;
  border-width: 1px; }
  .menu-list {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: none; }
  .menu-list-item {
    display: inline; }
    .menu-list-item-link {
      font-family: 'Permanent Marker', cursive;
      text-decoration: none;
      font-size: 1.5rem;
      color: white; }
      .menu-list-item-link:hover {
        color: black; }

.formulario {
  grid-row: 3 / 4;
  grid-column: 3 / 6;
  margin: 50px 20px 50px 20px;
  height: 54vh; }
  .formulario-form {
    width: 100%;
    text-align: left; }
    .formulario-form-peticion {
      padding-bottom: 2px; }
      .formulario-form-peticion-input {
        width: 100%;
        height: 100px;
        padding: 5px;
        font-size: 15px;
        outline: none;
        border-radius: 4px;
        border: 2px solid black;
        box-sizing: border-box;
        transition: all .3s; }
        .formulario-form-peticion-input:focus {
          border-color: #cc2229;
          box-shadow: 0 0 8px 0 #cc2229; }
    .formulario-form-submit {
      padding: 0;
      width: 70px; }
      .formulario-form-submit:hover {
        cursor: pointer; }
      .formulario-form-submit:focus {
        box-shadow: none;
        border-color: black; }

label {
  display: inline-block;
  font-size: 18px;
  padding: 10px 0px 5px 0px; }

input {
  font-size: 15px;
  padding-left: 5px;
  width: 100%;
  height: 30px;
  outline: none;
  border-radius: 4px;
  border: 2px solid black;
  box-sizing: border-box;
  transition: all .2s; }
  input:focus {
    border-color: #cc2229;
    box-shadow: 0 0 8px 0 #cc2229; }

.footer {
  grid-column: 1 / 8;
  grid-row: 4 / 5;
  background-color: black;
  height: 7vh;
  display: flex;
  justify-content: none;
  align-items: center; }
  .footer-text {
    padding-left: 10px;
    color: white; }
